---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
body {
	margin: 0px auto;
	max-width: 900px;
	color: #3c3836;
	background-color: #fbf1c7;
	// line-height: 1.3;
	// font-size: larger;
}
.site-footer {display: none;}
// @media screen and (min-width: 1000px) { .wrapper { max-width: calc(1000px - (30px * 2)); padding-right: 30px; padding-left: 30px; } }
